

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.courses-page h1 {
 color:red;

}

.header {
    height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(clg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.logo{
    height: 100px;
    width: 100px;
    margin-left: 100px;
}

.container p{
    font-family: sans-serif;
    font-size: 18px;
    color:whitesmoke;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 5px;
}

.left{
    display: flex;
    align-items: center;
}

.nav-items{
    list-style-type: none;
    display: inline-flex;
    float: right;
    padding: 1rem;
    text-transform: uppercase;
    margin-left: 800px;
}

.nav-item{
    margin-left: 25px;
}

.nav-items .nav-item a{
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    border-bottom: 1px solid #fff;
    padding-bottom: 0.3rem;
}

.header-content{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.heading{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    margin-bottom: 15px;
}

.description{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 5px;
}

.vid-list p{
    margin-left: 5px;
}

.vid-list{
    width: 425px;
    height: 425px;
    border: transparent;
    border-radius: 10px;
    margin: 25px 25px 25px 25px;
    background-color: #ffffff;
    box-shadow:2px 2px 5px 2px rgba(0, 0, 0, 0.5);
    overflow: scroll;
}
.vid-list .thumbnail{
    width: 100%;
}

.genre{
    display: flex;
    margin-left: 3px;
}
.symbol{
    height: 25px;
    width: 25px;
}


.programming{
    color: rgb(122, 122, 122);
}

.vid-heading{
    color: #A51C30;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.vid-list a{
    text-decoration: none;
}

.vid-list h2:hover{
    border-bottom: 1px solid #A51C30;
    padding-bottom: 0.3rem;
}

.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));

}

.courses{
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
}

hr{
    margin-top: 25px;
    margin-bottom: 60px;
}

.footer{
    height: 500px;
    width: 100%;
    background: #222222;
}

.footer a{
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
}

.footer-div{
    text-align: center;
    color: white;
    padding: 80px;
}

.footer a:hover{
    border-bottom: 1px solid #fff;
    padding-bottom: 0.3rem;
}

.footer-div2{
    display: grid;
    place-items: center;
}

.logo2{
    height: 200px;
    width:200px;
}

.footer-div2 h6{
    color: white;
    font-size: 20px;
}